@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer utilities { */
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* } */
@font-face {
  font-family: 'montserrat-alternates';
  src: url('/assets/fonts/montserrat-alternates.ttf') format('truetype'); /* Adjust the format if needed */
}
@font-face {
  font-family: 'panefresco';
  src: url('/assets/fonts/panefresco-regular.ttf') format('truetype');
}

.middle-slogan{
  font-family: 'montserrat-alternates';
}
.panefresco{
  font-family: 'panefresco';
}
/* Optionally, set a default font for the whole body */
body {
  /* font-family: Arial, Helvetica, sans-serif; */
}
